.container{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;


    
}

.login-container{
    width: 25%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(246, 246, 246);
    padding: 2rem 2rem 3.5rem 2rem;
}

.login-form-container{
    text-align: left;

}

input{
    width: 100%;
    border: none;
    border-bottom: solid 1px gray;
    height: 30px;
   font-size: 16px;
   background-color: transparent;
}

input:focus{
    outline: none;
}

select{
    border: none;
    padding: 0.5rem 1rem;
    width: 100%;
    padding: 15px 10px;
    
    background-color: rgb(224, 224, 224);
    color: rgb(74, 73, 73);
}

h1{
    font-size:    2rem;
  }

  .btn
  {
      background-color: rgb(232, 232, 232);
      padding: 10px 25px;
      text-align: center;
      margin-top: 50px;
      transition: 0.5s;
      color: gray;
  }

  .btn:hover{
      background-color:rgb(222, 219, 219);
      transition: 0.5s;
      cursor: pointer;
  }

  @media(max-width:700px){
      .login-container{
          width: 60%;
      }
  } 